extends ./layouts/header
append head
    title='Trang đăng nhập'
    link(rel="stylesheet", href="/css/custom_login.css")
block content
    .container-fluid.vh-100
        .row                        
            .col.d-flex.justify-content-center
                    form(action="/login" method="POST").d-flex.justify-content-center.align-items-center.flex-column
                        if errorc
                            .alert.alert-danger= error
                        .form-group
                            label(for='masodangnhap') Mã số đăng nhập
                            input#masodangnhap.form-control(type='text' name='masodangnhap' required)

                            label(for='matkhau') Mật khẩu
                            input#matkhau.form-control(type='password' name='matkhau' required)
                            
                            button.btn.btn-primary.mt-2(type='submit') Đăng nhập