.card img.card-img-top {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.card {
    width: 10rem;
    
}
.card .card-body {
    padding: 0.25rem;
    font-weight: 500;
    color:#00629b;
    font-size: 1em;
    break-inside: auto;
    text-align: center;
    text-decoration: none;
}

a,div {
    text-decoration: none;
}

#tag {
    color:white;
}

.info {
    position: absolute;
    top: 110px;
    right: 1%;
    color:white;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

 a {
     color:white;
 }
 a:hover {
     color:red;
 }