extends ../layouts/header_gv.pug

append head
    link(rel="stylesheet", href="/css/custom.css")

block content
        nav.navbar.navbar-light.bg-blue(style='background-image: url("/images/bg_banner.png");')
            a.navbar-brand(href='/giangvien')
                img.d-inline-block.align-top(src='/images/banner.png')
            h4#tag Giảng viên
        div.info
            p= 'Họ tên: ' + hoten
            div.signout
                a(href="/sinhvien/logout") Đăng xuất
        .container
            .d-flex.mt-2.justify-content-center
                a.card.mr-2.ml-2.text-decoration-none(href="giangvien/thongtingiangvien")
                    img.card-img-top(src='/images/bg_ph_thongtinsinhvien.png') 
                    .card-body
                        p.card-text
                        | Thông tin giảng viên
                a.card.mr-2.ml-2.text-decoration-none(href="giangvien/dangkylichday")
                    img.card-img-top(src='/images/bg_ph_dangkyhocphan.png')
                    .card-body
                        p.card-text
                        | Đăng ký lịch dạy
                a.card.mr-2.ml-2.text-decoration-none(href="giangvien/lichday")
                    img.card-img-top(src='/images/bg_ph_lichthi.png')
                    .card-body
                        p.card-text
                        | Lịch dạy
                a.card.mr-2.ml-2.text-decoration-none(href="giangvien/quanlydiem")
                    img.card-img-top(src='/images/bg_ph_diem.png')
                    .card-body
                        p.card-text
                        | Quản lý điểm
                